body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, #ff9653 40%, #a3b5d1);
}

.imgContainer {
  width: 100%;
  height: 100%;
  position: relative;
  /*Are you my Eureka moment?*/
  overflow: hidden;
}

.mountainImg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.moonImg {
  position: absolute;
  top: 14%;
  left: 83%;
  z-index: 1;
}

.welcome {
  position: absolute;
  top: 3%;
  left: 6%;
  z-index: 1;
}

.moonReflectImg {
  position: absolute;
  z-index: 1;
  bottom: 14%;
  left: 83%;
  transform: scale(1, -1);
  opacity: .6;
}

@media (orientation: portrait) and (max-width: 500px) {
  .mountainImg {
    width: 200%;
  }
}